
/*
Colors index:
background: #4d1e1e
foreground: #ff9494
borders: #ff9494
*/

body {
    background-image: url('bg-felt.jpg');
    background-color: #4d1e1e;
    color: #ff9494;
}

input:hover, select:hover, button:hover, .ui-slider-handle:hover {
    border-color: #ff9494;
}

.fav_draggable {
    background-color: #4d1e1e;
}

#info_div {
    background-color: #4d1e1e;
}

.control_panel {
    background-color: #4d1e1e;
}

.fav_draggable:hover {
    border: 2px solid #ff9494;
}

.chat-notation {
    border: 1px solid #ff9494;
}

#control_panel_hidden:hover {
    border: 2px solid #ff9494;
}

#control_panel_hide:hover {
    border: 1px solid #ff9494;
}

#colorname a:hover {
    outline: 1px solid #ff9494;
}