body {
    background-color: #0b1a3e;
    color: #9794ff;
    font-family: Georgia;
    margin: 0px;
    overflow: hidden
}

optgroup {
    background-color: white;
}

input, select, button {
    padding: 3px 15px;
    width: 10em;
    text-align: center;
    border: solid 2px white;
    background-color: #c0c0c0;
    font-family: Trebuchet MS;
}

input:hover, select:hover, button:hover {
    border-color: #9794ff;
}

a {
    color: white;
}

em {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    font-style: normal;
    padding: 0px 3px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
}

p {
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
}

#svg *, .svg * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#waitform {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    cursor: wait;
}

.center_field {
    text-align: center;
    width: 100%;
}

.center_field * {
    font-family: Trebuchet MS;
    padding: 5px 15px;
}

.bottom_field {
    position: absolute;
    text-align: center;
    bottom: 5px;
    width: inherit;
    padding: 0px;
}

#label {
    font-size: 32pt;
    word-spacing: 0.5em;
    padding: 5px 15px;
}

#labelhelp {
    font-size: 12pt;
    padding: 5px 15px;
    bottom: 50px;
}

#set {
    text-align: center;
    font-size: 26pt;
    margin-bottom: 5px;
}

#sethelp, #colorname {
    font-size: 12pt;
    background: none;
    margin-bottom: 5px;
}

#selector_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    border-bottom: 2px dashed white;
}

#selector_div select {
    width: 9em;
}

#selector_div button, #selector_div select {
    font-size: 12pt;
    cursor: pointer;
    line-height: 1.3;
}

.dice_place {
    position: absolute;
    border: solid black 1px;
}

#loginform {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.loginform {
    text-align: center;
}

.loginform * {
    font-size: 12pt;
    position: relative;
    font-family: Trebuchet MS;
}

.loginform p {
    margin-top: 0.7em;
}

.loginform .lform * {
    font-size: 16pt;
    margin-top: 0.3em;
}

.loginform .biglabel {
    font-size: 32pt;
    margin-bottom: 50px;
}

.smalllabel {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 1.2em;
}

.info-field {
    font-family: Trebuchet MS;
    text-align: center;
    font-size: 12pt;
    position: absolute;
    width: 100%;
    bottom: 1em;
}

.error-text {
    font-family: Trebuchet MS;
    text-align: center;
    font-size: 12pt;
    color: red;
    position: absolute;
    width: 100%;
    top: 3.5em;
}

#connection_message {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}

#button_join {
    font-size: 20pt;
    cursor: pointer;
    width: 5em;
    padding: 5px 15px;
}

.chat-notation {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    font-style: normal;
    padding: 0px 3px;
    border-radius: 3px;
}

.teal-chat:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}
.teal-chat {
    font-family: Trebuchet MS;
    padding: 5px 15px;
    overflow-y: scroll;
}

.teal-chat-input {
    font-size: 80%;
    font-family: Trebuchet MS;
    height: 2em;
    resize: none;
    margin-top: 10px;
    width: 100%;
    vertical-align: bottom;
}

.teal-chat-time {
    color: grey;
    font-size: 70%;
}
 
.teal-chat-text {
    white-space: pre;
}

.teal-chat-info {
    color: grey;
    font-style: italic;
}

.teal-chat-user {
    font-weight: bold;
}

.teal-chat-row-own .teal-chat-user {
    color: grey;
}

.teal-chat-unconfirmed * {
    color: lightgrey;
}

#desk {
    position: relative;
}

#info_div {
    width: 100%;
}

#canvas {
    border-bottom: 2px dashed white;
}

.control_panel {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    background-color: #1e2c4d;
}

#control_panel_hidden {
    padding: 5px;
}

#control_panel_hidden:hover {
    padding: 5px;
    outline: 2px solid #9794ff;
}

#control_panel_shown {
    padding: 30px 15px 15px 15px;
    outline: 2px solid white;
}

#control_panel_shown div {
    font-size: 12pt;
    margin-top: 0.3em;
    font-family: Trebuchet MS;
}

#control_panel_hide {
    position: absolute;
    top: 0px;
    left: 5px;
    cursor: pointer;
}

#control_panel_show {
    cursor: pointer;
}

#control_panel_hide:hover {
    outline: 1px solid #9794ff;
}

.hidden {
    display: none;
    visibility: none;
    width: 0px;
    height: 0px;
}
