#svg *, .svg * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#waitform {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    cursor: wait;
}

a {
    color: gray;
}

em {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    font-style: normal;
    padding: 0px 3px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

body {
    font-family: Georgia;
}

h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
}

p {
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.control_panel {
    padding: 15px;
    padding-bottom: 0px;
    position: absolute;
    z-index: 10;
}

.hidden {
    display: none;
    visibility: none;
    width: 0px;
    height: 0px;
}